<div id="background">
    <div id="container">
        <div id="header">
            <span id="title"> Create Match</span>
        </div>
        <!-- <h3 style ="text-align:center"> Create match event</h3> -->
        <form style="margin: 10%;" (ngSubmit)="form.valid && submit(homeTeamValue,awayTeamValue,dateValue,mainRefreeValue,lines1ManValue,lines2ManValue)" #form="ngForm">
            <!-- Home team name -->
            <div id="form-group">
                <label for="homeTeam">Home Team Name </label>
                <input 
                required 
                ngModel name="homeTeam" #homeTeam="ngModel"  
                id="homeTeam" type="text" class="form-control" #homeTeamValue>
                <div class="alert alert-danger" *ngIf="homeTeam.touched && !homeTeam.valid">Home Team name is required</div>
            </div>
            <!-- Away team name -->
            <div class="form-group">
                <label for="awayTeam">Away Team Name </label>
                <input 
                required 
                ngModel name="awayTeam" #awayTeam="ngModel" 
                id="awayTeam" type="text" class="form-control" #awayTeamValue>
                <div class="alert alert-danger" *ngIf="awayTeam.touched && !awayTeam.valid">Away Team name is required</div>
            </div>
            <!-- Date -->
            <div class="form-group">
                <label for="date"> Match Date  </label>
                <div style="margin: 2px;">
                    <input matInput [matDatepicker]="picker" required ngModel name="date" #date="ngModel"  #dateValue>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                
                <div class="alert alert-danger" *ngIf="date.touched && !date.valid">Date is required</div>
            </div>
            <!-- Stadium name -->
            <div class="form-group">
                <label style="margin: 2px;" for="Stadium"> Stadium </label>
                <div class="form-group">
                    <!-- DropDownList -->
                    <select class="custom-select" name="product" [(ngModel)]="ddlProduct" #product="ngModel"
                      [ngClass]="{ 'is-invalid': form.submitted && product.invalid }" required>
                      <option value="" class="text-primary font-weight-bolder">
                        --- Select Stadium ---
                      </option>
                      <option *ngFor="let stadium of stadiums" [value]="stadium">
                        {{stadium}}
                      </option>
                    </select>

                    <!-- Required Validation Message -->
                    <div *ngIf="form.submitted && product.invalid" class="text-danger">
                      <h6 *ngIf="product.errors.required">Product is Required</h6>
                    </div>
                  </div>
            </div>
            <!-- Main Refree name -->
            <div class="form-group">
                <label for="mainRefree">Mian Refree Name </label>
                <input 
                required 
                ngModel name="mainRefree" #mainRefree="ngModel" 
                id="mainRefree" type="text" class="form-control" #mainRefreeValue>
                <div class="alert alert-danger" *ngIf="mainRefree.touched && !mainRefree.valid">Main Refree name is required</div>
            </div>
            <!-- Lines man 1 name -->
            <div class="form-group">
                <label for="lines1Man">Lines Man 1 Name </label>
                <input 
                required 
                ngModel name="lines1Man" #lines1Man="ngModel" 
                id="lines1Man" type="text" class="form-control" #lines1ManValue>
                <div class="alert alert-danger" *ngIf="lines1Man.touched && !lines1Man.valid">Lines Man 1 name is required</div>
            </div>
            <!-- Lines man 2 name -->
            <div class="form-group">
                <label for="lines2Man">Lines Man 2 Name </label>
                <input 
                required 
                ngModel name="lines2Man" #lines2Man="ngModel" 
                id="lines2Man" type="text" class="form-control" #lines2ManValue>
                <div class="alert alert-danger" *ngIf="lines2Man.touched && !lines2Man.valid">Lines Man 2 name is required</div>
            </div>
            <div class="form-group" style="height: 8px;">
                <button   class="btn btn-primary" 
                [disabled]="homeTeam.invalid || awayTeam.invalid || date.invalid || mainRefree.invalid || lines1Man.invalid || lines2Man.invalid"> 
                Submit </button>
            </div>
        </form>
    </div>
</div>
