.flex-container {
    display: flex;
    background-color: #1ec74e;
    color:white;
}

.flex-item {
    width: 33%;
    text-align: center;
    height: 70px;
    bottom: -20px;
    position: relative;
    font-weight: bolder;
    font-size: larger;
}

p{
    cursor: pointer;
}

p:focus{
    border: none;
    outline:none;
}

.active {
    color: darkblue;
}

@media only screen and (max-width: 700px){
    p {
        font-size:0.8em;
    }    
}