 <div class="flex-container" *ngIf="type">
    <div class="flex-item" [ngClass]="{'active': page === 1}">
      <p  routerLink="/home">Matches</p>
    </div>
    <div class="flex-item" [ngClass]="{'active': page === 2}">
      <p  routerLink="/reservations">Reservations</p>   
    </div>
    <div class="flex-item" [ngClass]="{'active': page === 3}">
      <p routerLink="/account">Account</p>
    </div>
    <div class="flex-item">
      <p style="cursor: pointer;" (click)="logout(false)">Log out</p>   
    </div>
  </div>

  <div class="flex-container" *ngIf="!type">
    <div class="flex-item" [ngClass]="{'active': page === 1}">
      <p routerLink="/admin/approve" >Approve Accounts</p>
    </div>
    <div class="flex-item" [ngClass]="{'active': page === 2}">
      <p  routerLink="/admin/deleteAccount" >Delete Accounts</p>   
    </div>
    <div class="flex-item" [ngClass]="{'active': page === 3}">
      <p style="cursor: pointer;" (click)="logout(true)">Log out</p>   
    </div>
  </div>