<app-navbar></app-navbar>
<div id="background" >
    <div id="container">
        <div id="header">
            <span id="title"> Add Stadium</span>
        </div>
        <form style="margin: 10px" [formGroup]="addStadiumForm">
            <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="form-group">
                <label >VIP area rows</label>
                <input type="number" class="form-control" formControlName="VIP_area_rows">
            </div>

            <div class="form-group">
                <label >Seats per row</label>
                <input type="number" class="form-control" formControlName="VIP_area_seats_per_row">
            </div>
            <div *ngIf="this.wrong" class="alert alert-danger" role="alert">
                {{error_message}}
            </div>
            <div class="form-group" style="height: 8px;">
                <button (click)="submit()" class="btn btn-primary" [disabled]="addStadiumForm.invalid">Submit</button>
            </div>
        </form>
        <br>
    </div>
</div>