<app-navbar></app-navbar>
<div class="back">
    <div *ngFor="let reservation of reservations; let m = index;" class="card" >
        <p class="date">
            {{days[reservation?.match?.date.getDay()] + ",  " + reservation?.match?.date.getDate() + "/" + reservation?.match?.date.getMonth() 
                + "/" + reservation?.match?.date.getFullYear() + ", " + reservation?.match?.date.getHours() + ":" + reservation?.match?.date.getMinutes()}}
        </p>
        <div style="display: flex; height: 150px;">
            <div class="team">
                <img src="../../assets/AlAhly.png">
                <h5>{{reservation?.match.home_team}}</h5>
            </div>
            <div style="width: 20%; text-align: center;">
                <p style="top: 50px;position: relative;">
                    vs
                </p>
            </div>
            <div class="team">
                <img src="../../assets/AlZamalek.png">
                <h5> {{reservation?.match.away_team}}</h5>
            </div>
        </div>
        <p style="text-align: center;">
            {{reservation?.match?.stadium + " Stadium"}}
        </p>
        <div>
            <span >
                <b>Main Referee </b> <span style="color:green"> {{reservation?.match?.main_referee}} </span>
            </span>
            <span style="float:right">
                <b> Line Man </b> <span style="color:green">{{reservation?.match?.line_man1}}, {{reservation?.match?.line_man2}} </span>
            </span>
        </div>
        <div>
            <div *ngFor="let seat of reservation.seats;" class="seat" >
                {{ seat }}
            </div>
        </div>
        <button class="btn btn-primary" style="margin: auto; width:30%;" (click)="cancel(reservation)">
            Cancel Reservation 
        </button>
    </div>
</div>
